# Build directories
build/

# Compiled binaries
dungeon
cracked_dungeon
*.exe
*.out

# Object files
*.o
*.obj

# Libraries
*.a
*.so
*.dll
*.dylib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Profiling
perf.data*

# clangd
.cache/

#others
controls.cfg
